@page
@using Book_Tracking_Models;
@model Book_Tracking.Pages.IndexModel
@{
}

<section class="book-listing">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @foreach ( Books item in Model.Books) { 
                    <div class="book-listing__item">
                        <h2>@item.Title</h2>
                        <span>Author: @item.Author</span>
                        <a href="/@item.Id">Read More</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>