@page
@using Book_Tracking_Models;
@model Book_Tracking.Pages.IndexModel
@{
}

<section class="book-listing">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @foreach (Books item in Model.Books) {
                    <div class="book-listing__item">
                        <h2>@item.Title</h2>
                        <div class="details-wrap">
                            <span>Author: @item.Author</span>
                            <a asp-page="Book" asp-route-Id="@item.Id" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>